.box-footer{
    background-color: #587B78;
}
.card-footer{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.box-title-footer{
    text-align: left;
    margin-bottom: 20px;
}
.card-img-footer{
    display: inline-block;
    margin-right: 8px;
    width: 1.5rem;
}

.card-title-footer{
    color: #FFFFFF;
    text-align: left;
}
.cards-footer{
}
.group{
    display: flex;
    align-items: center;
    margin: 5px;
    width: fit-content;

}